<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="
        margin: 0;
    ">
    <div style="
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 80vh;
        background-color: green;
        color: white;
        text-align: center;
    ">
        <h1 style="
            padding: 20px;
            font-size: 40px !important;
        ">
            Welcome to the - Movies App
        </h1>
        <h4 style="
            padding: 20px;
            font-size: 22px;
        ">
            {{ title }}
        </h4>
    </div>
</body>
</html>