{% extends "base.html.twig" %}

{% block title %}
    Movies Page
{% endblock %}

{% block body %}
    <div style="
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 80vh;
        background-color: green;
        color: white;
        text-align: center;
    ">
        <h1 style="
            padding: 20px;
            font-size: 40px !important;
        ">
            Movies App - by {{ author }}
        </h1>
        {% if title %}
            <h4 style="
                padding: 20px;
                font-size: 22px;
            ">
                {{ title }}
            </h4>
        {% else %}
            <h4 style="
                padding: 20px;
                font-size: 22px;
            ">
                oh no! No new movie available
            </h4>
        {% endif %}
    </div>
        <div style="
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 80vh;
        background-color: black;
        color: white;
        text-align: center;
    ">
        <ul>
            {% for movie in movies %}
                <li>
                    <h4 style="
                        padding: 5px;
                        font-size: 24px;
                    ">
                        {{ movie }}
                    </h4>
                </li>
            {% endfor %}
        </ul>
    <div>
{% endblock %}